<%- include('./header.ejs') %>

    <form method="post">
        <div>用户名：<input type="text" name="username"></div>
        <div>密码：<input type="password" name="password"></div>
        <button>登录</button>
    </form>

<%- include('./footer.ejs') %>